mat-card {
  background: linear-gradient(
    269deg,
    rgba(3, 3, 3, 0.99) 3%,
    rgb(56 55 55 / 95%) 80%
  );
  margin: 20px 20px 20px;
  padding: 0px 10px 0px;

  .example-spacer {
    flex: 1 1 auto;
  }
  mat-card-header {
    padding-top: 10px;
  }
  mat-card-content {
    .col-3 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    padding: 0px;
    .p-item {
      border-radius: 5px;
      height: 165px;
      width: 124px;
      margin: 8px 0px 8px;
      cursor: pointer;
      .p-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      transition: 0.3s;
    }
    .p-item:hover {
      height: 175px;
      width: 132px;
      transition-delay: 0s;
    }
  }
  mat-card-actions {
    padding-left: 15px;

    .removeButton {
      display: flex;
      justify-content: center;
      position: relative;
      height: 40px;
      width: 100px;

      .button-properties {
        position: absolute;
        border-radius: 20px;
        background-color: black;
        height: 40px;
        width: 40px;
        color: white;
        right: 10px;
        mat-icon {
          transition: 0.5s;
          margin: 0px;
        }
        transition: 0.5s;
      }
      span {
        z-index: 1;
        position: absolute;
      }
    }
    .removeButton:hover .button-properties {
      width: 150px;
      background: linear-gradient(
        90deg,
        rgba(255, 0, 153, 0.993) 3%,
        rgb(0, 0, 0) 80%
      );
    }
    .removeButton:hover .button-properties mat-icon {
      transform: scale(0);
      transition-delay: 0s;
    }
    .removeButton .title {
      font-weight: 500;
      top: 24%;
      right: 55%;
      transform: scale(0);
      transition: 0.5s;
      cursor: pointer;
    }
    .removeButton:hover .title {
      transform: scale(1);
      color: white;
    }
  }
}
mat-card:hover {
  /* background: linear-gradient(to left, rgba(0, 0, 0, 0.6), #d1108ecd); */
  background: linear-gradient(to left, rgba(0, 0, 0, 0.6), #ff0051ba);

  /* background: linear-gradient(
    90deg,
    rgba(122, 108, 1, 0.998) 3%,
    rgba(2, 7, 8, 1) 80%
  ); */
}
