<!-- <mat-toolbar style="display: flex; align-items: center">
  <span>
    <input
      style="
        border-radius: 20px;
        height: 40px;
        padding: 0px 10px;
        font-size: 14px;
      "
      type="text"
      placeholder="search..."
    />
  </span>
</mat-toolbar> -->
<div class="allProductMainContainer">
  <div class="row">
    <div class="col-2" style="padding: 0px">
      <div
        style="
          margin-left: 25px;
          display: flex;
          flex-direction: column;
          row-gap: 10px;
        "
      >
        <mat-card style="width: 100%">
          <mat-card-content>
            <section class="example-section">
              <h4 style="font-weight: 500">Select category:</h4>
              <mat-radio-group class="example-radio-group" [(ngModel)]="cat">
                <div style="display: flex; flex-direction: column">
                  @for (category of categories; track category ) {
                  <mat-radio-button
                    class="example-radio-button"
                    [value]="category"
                    (change)="onCategoryChange(category)"
                    ><h3
                      style="
                        margin: 0;
                        color: rgb(211, 211, 211);
                        font-size: 14px;
                      "
                    >
                      {{ category }}
                    </h3></mat-radio-button
                  >
                  }
                </div>
              </mat-radio-group>
            </section>
          </mat-card-content>
        </mat-card>
        <mat-card style="width: 100%">
          <mat-card-header>
            <h4 style="font-weight: 500">Brands:</h4>
          </mat-card-header>

          <mat-card-content
            class="brands"
            style="height: 300px; overflow-y: scroll; padding: 0px 8px"
          >
            <section class="example-section">
              <div style="display: flex; flex-wrap: wrap">
                <div *ngFor="let brand of brands; let i = index">
                  <mat-checkbox
                    [value]="brand"
                    (change)="onCheckboxChange($event)"
                  >
                    <p
                      style="
                        color: rgb(211, 211, 211);
                        font-size: 12px;
                        text-transform: lowercase;
                      "
                    >
                      {{ brand }}
                    </p>
                  </mat-checkbox>
                </div>
              </div>
            </section>
          </mat-card-content>
        </mat-card>
        <mat-card style="width: 100%">
          <mat-card-content>
            <section class="example-section">
              <h4 style="font-weight: 500">Price Range:</h4>
              <div style="display: flex; flex-direction: column">
                <mat-checkbox>
                  <p style="color: rgb(211, 211, 211)">less then 1000</p>
                </mat-checkbox>
                <mat-checkbox>
                  <p style="color: rgb(211, 211, 211)">1000 to 2500</p>
                </mat-checkbox>
                <mat-checkbox>
                  <p style="color: rgb(211, 211, 211)">2500 to 5000</p>
                </mat-checkbox>
                <mat-checkbox>
                  <p style="color: rgb(211, 211, 211)">5000 and above</p>
                </mat-checkbox>
              </div>
            </section>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col-10">
      <ng-container *ngIf="searchedAndFilteredProducts; else loading">
        <section style="min-height: 700px">
          <div class="productsContainer">
            <ng-container *ngFor="let product of searchedAndFilteredProducts">
              <app-product-card [productData]="product"></app-product-card>
            </ng-container>
          </div>
        </section>
        <ngb-pagination
          class="d-flex justify-content-center"
          [collectionSize]="totalPage"
          [(page)]="page"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="onPageChange(page)"
        />
      </ng-container>
    </div>
  </div>
</div>
<ng-template #loading>
  <div
    style="
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 30px;
    "
  >
    <mat-spinner style="height: 50px; width: 50px" color="warn"></mat-spinner>
  </div>
</ng-template>
