<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="5"
      aria-label="Slide 6"
    ></button>
  </div>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="5"
      aria-label="Slide 6"
    ></button>
  </div>
  <div class="carousel-inner carousel-container">
    <div class="carousel-item active c-item">
      <img
        src="https://i.pinimg.com/originals/cc/0c/c4/cc0cc4801773bbd55654dfa5d0763de7.jpg"
        class="d-block w-100 c-img"
        alt="..."
      />
    </div>
    <div class="carousel-item c-item">
      <img
        src="https://i.pinimg.com/originals/4b/22/86/4b22867e1c2cc0e640db9ef6d6de2bc3.png"
        class="d-block w-100 c-img"
        alt="..."
      />
    </div>
    <div class="carousel-item c-item">
      <img
        src="https://i.pinimg.com/originals/32/8a/c4/328ac4346ca38b191e122732cef80794.jpg"
        class="d-block w-100 c-img"
        alt="..."
      />
    </div>
    <div class="carousel-item c-item">
      <img
        src="https://i.pinimg.com/originals/7a/f1/2a/7af12a877a0020a506e5f07142790b22.jpg"
        class="d-block w-100 c-img"
        alt="..."
      />
    </div>
    <div class="carousel-item c-item">
      <img
        src="https://img.ltwebstatic.com/images3_ach/2022/08/08/1659925511775204cad6fabe3d5d1bc25b86b58654.gif"
        class="d-block w-100 c-img"
        alt="..."
      />
    </div>
    <div class="carousel-item c-item">
      <img
        src="https://i.pinimg.com/originals/0a/80/ed/0a80edccfa8177571f2e7e3ece5ffc2c.gif"
        class="d-block w-100 c-img"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
