<div>
  <div
    style="
      padding: 30px 350px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    "
  >
    <mat-card style="background-color: rgb(23, 23, 23)">
      <mat-card-content>
        <div class="row">
          <div
            class="col-3"
            style="display: flex; justify-content: center; align-items: center"
          >
            <div class="p-item" style="width: 110px">
              <img
                class="p-img"
                mat-card-image
                src="https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/19823470/2022/11/9/183f55ee-e3e0-4363-85bf-c2061f1cb5e71667988198774-VAIRAGEE-Floral-Embroidered-Organza-Celebrity-Saree-19616679-1.jpg"
              />
            </div>
          </div>
          <div class="col-9" style="padding-left: 0">
            <mat-card-header style="display: flex; padding: 4px 4px 0px">
              <div class="block">
                <mat-card-title style="font-weight: 300; font-size: 18px">
                  <h4
                    style="
                      height: 20px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      margin: 0;
                      font-weight: 300;
                    "
                  >
                    Nike black t shirt
                  </h4>
                </mat-card-title>
                <mat-card-subtitle
                  style="color: white; font-size: 14px; font-weight: 500"
                  >Nike</mat-card-subtitle
                >
                <div class="flex gap-2">
                  <h3 style="font-weight: 300; margin: 0">Size : M</h3>
                  <h3 style="font-weight: 300; margin: 0">Color : Blue</h3>
                  <h3 style="font-weight: 300; margin: 0">Qty : 1</h3>
                </div>
                <div class="flex gap-2">
                  <h3
                    class="text-gray-400 ;"
                    style="text-decoration: line-through; margin: 0px"
                  >
                    Rs 450
                  </h3>
                  <h3
                    style="
                      font-size: 20px;
                      font-weight: 400;
                      margin: 0px;
                      color: rgb(7, 214, 7);
                    "
                  >
                    Rs 250
                  </h3>
                  <h3 style="color: white; font-size: 14px; margin: 0px">
                    (60% OFF)
                  </h3>
                </div>
              </div>
            </mat-card-header>
            <mat-card-actions align="end">
              <div>
                <p style="margin: 0px 5px; padding: 0px 5px 0px">
                  order : placed
                </p>
              </div>
              <span style="flex: 1"></span>
              <div>
                <p style="margin: 0px 5px; padding: 0px 5px 0px">
                  deliver before 24 june
                </p>
              </div>
            </mat-card-actions>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card style="background-color: rgb(23, 23, 23)">
      <mat-card-content>
        <div class="row">
          <div
            class="col-3"
            style="display: flex; justify-content: center; align-items: center"
          >
            <div class="p-item" style="width: 110px">
              <img
                class="p-img"
                mat-card-image
                src="https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/19823470/2022/11/9/183f55ee-e3e0-4363-85bf-c2061f1cb5e71667988198774-VAIRAGEE-Floral-Embroidered-Organza-Celebrity-Saree-19616679-1.jpg"
              />
            </div>
          </div>
          <div class="col-9" style="padding-left: 0">
            <mat-card-header style="display: flex; padding: 4px 4px 0px">
              <div class="block">
                <mat-card-title style="font-weight: 300; font-size: 18px">
                  <h4
                    style="
                      height: 20px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      margin: 0;
                      font-weight: 300;
                    "
                  >
                    Nike black t shirt
                  </h4>
                </mat-card-title>
                <mat-card-subtitle
                  style="color: white; font-size: 14px; font-weight: 500"
                  >Nike</mat-card-subtitle
                >
                <div class="flex gap-2">
                  <h3 style="font-weight: 300; margin: 0">Size : M</h3>
                  <h3 style="font-weight: 300; margin: 0">Color : Blue</h3>
                  <h3 style="font-weight: 300; margin: 0">Qty : 1</h3>
                </div>
                <div class="flex gap-2">
                  <h3
                    class="text-gray-400 ;"
                    style="text-decoration: line-through; margin: 0px"
                  >
                    Rs 450
                  </h3>
                  <h3
                    style="
                      font-size: 20px;
                      font-weight: 400;
                      margin: 0px;
                      color: rgb(7, 214, 7);
                    "
                  >
                    Rs 250
                  </h3>
                  <h3 style="color: white; font-size: 14px; margin: 0px">
                    (60% OFF)
                  </h3>
                </div>
              </div>
            </mat-card-header>
            <mat-card-actions align="end">
              <div>
                <p style="margin: 0px 5px; padding: 0px 5px 0px">
                  order : placed
                </p>
              </div>
              <span style="flex: 1"></span>
              <div>
                <p style="margin: 0px 5px; padding: 0px 5px 0px">
                  deliver before 24 june
                </p>
              </div>
            </mat-card-actions>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
